<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSADGseP9OR8Atxq7iBsF84wIt36WuAX8</string>
	<key>GCM_SENDER_ID</key>
	<string>32723555873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cengizhantomak.Chat-Firebase-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>chat-swiftui-1a298</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-swiftui-1a298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32723555873:ios:1fc6c8d2bca06a67087560</string>
</dict>
</plist>